name: Tests

on:
  push:
    branches:
      - main
      - master
  pull_request:
    branches:
      - main
      - master
  # Run this once per three days
  schedule:
    - cron: '29 17 */3 * *'
  # This can also manually run
  workflow_dispatch: {}

jobs:

  test_with_bindgen:
    runs-on: ${{ matrix.config.os }}

    name: ${{ matrix.config.os }} (R-${{ matrix.config.r }} rust-${{ matrix.config.rust-version }})
              
    strategy:
      fail-fast: false
      matrix:
        config:
          # On Windows,
          #
          # * for R >= 4.2, both the MSVC toolchain and the GNU toolchain should
          #   work. Since we primarily support MSVC, we focus on testing MSVC
          #   here. Also, at least one GNU case should be included so that we
          #   can detect when something gets broken. 
          # * for R < 4.2, the MSVC toolchain must be used to support
          #   cross-compilation to 32-bit. 
          #
          # options:
          #   - targets: Targets to build and run tests against. If not
          #     specified, 'default' will be used. 
          #   - no-test-targets: Targets to skip tests.
          #   - emit-bindings: If 'true', emit bindings. In principle, we choose
          #     only one stable Rust toolchain per combination of a platform and
          #     an R version (e.g. Windows and R-release) to emit bindings.
          - {os: windows-latest, r: 'release', rust-version: 'stable-msvc',  targets: ['x86_64-pc-windows-gnu'], rtools-version: '42',  emit-bindings: 'true'}
          - {os: windows-latest, r: 'release', rust-version: 'nightly-msvc', targets: ['x86_64-pc-windows-gnu'], rtools-version: '42'}
          - {os: windows-latest, r: 'devel',   rust-version: 'stable-msvc',  targets: ['x86_64-pc-windows-gnu'], rtools-version: '42',  emit-bindings: 'true'}
          - {os: windows-latest, r: 'release', rust-version: 'stable-gnu',   targets: ['x86_64-pc-windows-gnu'], rtools-version: '42'}
          - {os: windows-latest, r: 'oldrel',  rust-version: 'stable-msvc',  targets: ['x86_64-pc-windows-gnu', 'i686-pc-windows-gnu'], emit-bindings: 'true'}

          - {os: macOS-latest,   r: 'release', rust-version: 'nightly'}
          - {os: macOS-latest,   r: 'devel',   rust-version: 'stable',  emit-bindings: 'true'}
          - {os: macOS-latest,   r: 'oldrel',  rust-version: 'stable',  emit-bindings: 'true'}
          # TODO: Remove no-test-targets when aarch64 runner is available
          - {os: macOS-latest,   r: 'release', rust-version: 'stable', targets: ['default', 'aarch64-apple-darwin'], no-test-targets: 'aarch64-apple-darwin', emit-bindings: 'true'}

          - {os: ubuntu-20.04,   r: 'release', rust-version: 'stable',  emit-bindings: 'true'}
          - {os: ubuntu-20.04,   r: 'release', rust-version: 'nightly'}
          - {os: ubuntu-20.04,   r: 'devel',   rust-version: 'stable',  emit-bindings: 'true'}
          - {os: ubuntu-20.04,   r: 'oldrel',  rust-version: 'stable',  emit-bindings: 'true'}



    env:
      RSPM: ${{ matrix.config.rspm }}

    # PowerShell core is available on all platforms and can be used to unify scripts
    defaults:
      run:
        shell: pwsh
      
    steps:
      
      - uses: actions/checkout@v2
      
      - name: Set up R
        uses: r-lib/actions/setup-r@v2
        with:
          r-version: ${{ matrix.config.r }}
          use-public-rspm: true
          rtools-version: ${{ matrix.config.rtools-version }}

      - name: Set up Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: ${{ matrix.config.rust-version }}
          default: true
          components: rustfmt, clippy

      - name: Configure targets
        run: |
          if ($env:RUST_TARGETS -eq '') {
            $env:RUST_TARGETS = "default"
          }
          foreach ($target in ($env:RUST_TARGETS).Split(",")) {
            if ($target -ne "default") {
              rustup target add $target
            }
          }
          echo "RUST_TARGETS=$env:RUST_TARGETS"  | Out-File -FilePath $env:GITHUB_ENV -Encoding utf8 -Append
        env:
          RUST_TARGETS: ${{ join(matrix.config.targets, ',')}}

      - name: MINGW64
        if: startsWith(runner.os, 'Windows')
        uses: msys2/setup-msys2@v2
        with:
          msystem: mingw64
          install: mingw-w64-x86_64-clang mingw-w64-x86_64-toolchain
          release: false

      - name: MINGW32
        if: startsWith(runner.os, 'Windows') && contains(join(matrix.config.targets, ','), 'i686')
        uses: msys2/setup-msys2@v2
        with:
          msystem: mingw32
          install: mingw32/mingw-w64-i686-clang mingw-w64-i686-toolchain
          release: false

      # All configurations for Windows go here
      # Rust toolchain is used to determine target architecture
      - name: Configure Windows
        if: runner.os == 'Windows'
        # 1. Configure path to libclang
        # 2. Add path to mingw32/mingw64 -- otherwise library is linked to rtools
        # 3. Add path to R's i386/x64  -- to solve x86 build/test issue
        run: |
          if ($env:RUST_TARGETS -like "*x86_64*") {
            echo "C:\msys64\mingw64\bin" | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append ;
            echo "$(Rscript.exe -e 'cat(normalizePath(R.home()))')\bin\x64"  | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append ;
          }
          if ($env:RUST_TARGETS -like "*i686*") {
            echo "C:\msys64\mingw32\bin" | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append ;
            echo "$(Rscript.exe -e 'cat(normalizePath(R.home()))')\bin\i386"  | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append ;
          }
        env:
          RUST_TARGETS: ${{ join(matrix.config.targets, ',')}}


      # macOS configurations, mainly llvm and path to libclang
      # Because of this R installation issue on macOS-11.0 
      # https://github.com/r-lib/actions/issues/200
      # Symlinks to R/Rscript are not properly set up, so we do it by hand, using this trick
      # https://github.com/r-lib/ps/commit/a24f2c4d1bdba63be14e7729b9ab81d0ed9f719e
      # Environment variables are required fir Mac-OS-11.0, see
      # https://github.com/extendr/libR-sys/issues/35
      - name: Configure macOS
        if: runner.os == 'macOS'
        run: | 
          brew install llvm
          echo "LIBCLANG_PATH=$(brew --prefix llvm)/lib" | Out-File -FilePath $env:GITHUB_ENV -Encoding utf8 -Append
          $env:LLVM_CONFIG_PATH = "$(brew --prefix llvm)/bin/llvm-config" 
          echo "LLVM_CONFIG_PATH=$env:LLVM_CONFIG_PATH" | Out-File -FilePath $env:GITHUB_ENV -Encoding utf8 -Append
          echo "LIBRSYS_LIBCLANG_INCLUDE_PATH=$(. $env:LLVM_CONFIG_PATH --libdir)/clang/$(. $env:LLVM_CONFIG_PATH --version)/include"  | Out-File -FilePath $env:GITHUB_ENV -Encoding utf8 -Append

          if ((Get-ChildItem -Path /usr/local/bin -Filter R | Measure-Object).Count -eq 0) {
            echo "::warning:: Found no R symlink in /usr/local/bin, setting up manually..."
            ln -s /Library/Frameworks/R.framework/Versions/Current/Resources/bin/R /usr/local/bin/
          }
          if ((Get-ChildItem -Path /usr/local/bin -Filter Rscript | Measure-Object).Count -eq 0) {
            echo "::warning:: Found no Rscript symlink in /usr/local/bin, setting up manually..."
            ln -s /Library/Frameworks/R.framework/Versions/Current/Resources/bin/Rscript /usr/local/bin/
          }

      # This is required for ubuntu r-devel
      # 'Del alias:R' removes R alias which prevents running R 
      - name: Configure Linux
        if: runner.os == 'linux'
        run: |
          Del alias:R
          echo "LD_LIBRARY_PATH=$(R -s -e 'cat(normalizePath(R.home()))')/lib" | Out-File -FilePath $env:GITHUB_ENV -Encoding utf8 -Append

      # Build and emit bindings to './generated_bindings'
      - name: Build & Emit bindings
        id: build
        run: |
          . ./ci-cargo.ps1
          foreach ($target in ($env:RUST_TARGETS).Split(",")) {
            ci-cargo build -vv --features use-bindgen $(if ($target -ne 'default') {"--target=$target"} ) -ActionName "Building for target: $target"
          }
        env:
          LIBRSYS_BINDINGS_OUTPUT_PATH: generated_bindings

      # Test the result of previous step
      - name: Run tests
        id: test
        run: |
          . ./ci-cargo.ps1
          foreach ($target in ($env:RUST_TARGETS).Split(",")) {
            if(($env:NO_TEST_TARGETS).Split(",").Contains($target)) {
              echo "::warning:: Skipping bindgen tests for target: $target"
            }
            else {
              ci-cargo test -vv --features use-bindgen $(if ($target -ne 'default') {"--target=$target"} ) '--' --nocapture --test-threads=1 -ActionName "Running bindgen tests for target: $target"
            }
          }
        env: 
          NO_TEST_TARGETS: ${{ join(matrix.config.no-test-targets, ',') }}
            


      # If success
      # AND (either rust is stable and 'emit-bindings' != 'false'
      #      OR rust is any and 'emit-bindings' == 'true'),
      # upload bindings
      - name: Upload generated bindings
        if: 
          steps.build.outcome == 'success' && 
          steps.test.outcome == 'success' && 
          matrix.config.emit-bindings == 'true'
        uses: actions/upload-artifact@main
        with:
          name: generated_binding-${{ matrix.config.os }}-R-${{ matrix.config.r }}-rust-${{ matrix.config.rust-version }}
          path: generated_bindings

      # Run tests again using different bindings
      - name: Run tests on precomputed bindings shipped with libR-sys
        run: |
          . ./ci-cargo.ps1
          foreach ($target in ($env:RUST_TARGETS).Split(",")) {
            if(($env:NO_TEST_TARGETS).Split(",").Contains($target)) {
              echo "::warning:: Skipping tests for target: $target"
            }
            else {    
              ci-cargo test -vv $(if ($target -ne 'default') {"--target=$target"} ) '--' --nocapture --test-threads=1 -ActionName "Running tests for target: $target"
            }
          }
        env: 
          NO_TEST_TARGETS: ${{ join(matrix.config.no-test-targets, ',') }}

  test_windows_rtools:
    runs-on: ${{ matrix.config.os }}

    name: ${{ matrix.config.os }} (R-${{ matrix.config.r }} rust-${{ matrix.config.rust-version }}) \w Rtools
              
    strategy:
      fail-fast: false
      matrix:
        config:
          # On Windows,
          #
          # * for R >= 4.2, both the MSVC toolchain and the GNU toolchain should
          #   work. Since we primarily support MSVC, we focus on testing MSVC here.
          #   Also, at least one GNU case should be included so that we can
          #   detect when something gets broken. 
          # * for R < 4.2, the MSVC toolchain must be used to support
          #   cross-compilation to 32-bit. 
          - {os: windows-latest, r: 'release', rust-version: 'stable-msvc', targets: ['x86_64-pc-windows-gnu'], rtools-version: '42'}
          - {os: windows-latest, r: 'devel',   rust-version: 'stable-msvc', targets: ['x86_64-pc-windows-gnu'], rtools-version: '42'}
          - {os: windows-latest, r: 'release', rust-version: 'stable-gnu',  targets: ['x86_64-pc-windows-gnu'], rtools-version: '42'}
          - {os: windows-latest, r: '4.1',     rust-version: 'stable-msvc', targets: ['x86_64-pc-windows-gnu', 'i686-pc-windows-gnu']}

    env:
      RSPM: ${{ matrix.config.rspm }}

    # PowerShell core is available on all platforms and can be used to unify scripts
    defaults:
      run:
        shell: pwsh
      
    steps:
      
      - uses: actions/checkout@v2

      - name: Set up R
        uses: r-lib/actions/setup-r@v2
        with:
          r-version: ${{ matrix.config.r }}
          use-public-rspm: true
          rtools-version: ${{ matrix.config.rtools-version }}
          
      - name: Set up Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: ${{ matrix.config.rust-version }}
          default: true
          components: rustfmt, clippy

      - name: Configure targets
        run: |
          if ($env:RUST_TARGETS -eq '') {
            $env:RUST_TARGETS = "default"
          }
          foreach ($target in ($env:RUST_TARGETS).Split(",")) {
            if ($target -ne "default") {
              rustup target add $target
            }
          }
          echo "RUST_TARGETS=$env:RUST_TARGETS"  | Out-File -FilePath $env:GITHUB_ENV -Encoding utf8 -Append
        env:
          RUST_TARGETS: ${{ join(matrix.config.targets, ',')}}
      
      - name: Configure Windows for Rtools 42
        if: runner.os == 'Windows' && matrix.config.r != '4.1'
        run: |
          echo "C:\rtools42\x86_64-w64-mingw32.static.posix\bin"           | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append ;
          echo "C:\rtools42\usr\bin"                                       | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append ;
          echo "$(Rscript.exe -e 'cat(normalizePath(R.home()))')\bin\x64"  | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append ;

          # NOTE: Unlike extendr, libR-sys can be compiled with non-Rtools' toolchain
          #       without any problem. But, for consistency (and in order to detect
          #       the possible problem), we anyway add the tweak.

          # The following lines add two tweaks:
          #
          #  1. Change the linker name to "x86_64-w64-mingw32.static.posix-gcc.exe".
          #  2. Add empty libgcc_s.a and libgcc_eh.a, and add them to the compiler's
          #     library search paths via `LIBRARY_PATH` envvar.
          # 
          # The first tweak is needed because Rtools42 doesn't contain 
          # "x86_64-w64-mingw32-gcc," which `rustc` uses as the default linker 
          # for the `x86_64-pc-windows-gnu` target.
          #  
          # If we use the Rtools' toolchain, the second tweak is also required.
          # `rustc` adds `-lgcc_eh` and `-lgcc_s` flags to the compiler, but
          # Rtools' GCC doesn't have `libgcc_eh` or `libgcc_s` due to the 
          # compilation settings. So, in order to please the compiler, we need
          # to add empty `libgcc_eh` or `libgcc_s` to the library search paths.
          # 
          # For more details, please refer to https://github.com/r-windows/rtools-packages/blob/2407b23f1e0925bbb20a4162c963600105236318/mingw-w64-gcc/PKGBUILD#L313-L316

          New-Item -Path libgcc_mock -Type Directory
          New-Item -Path libgcc_mock\libgcc_eh.a -Type File
          New-Item -Path libgcc_mock\libgcc_s.a -Type File

          New-Item -Path .cargo -ItemType Directory -Force
          $pwd_slash = echo "${PWD}" | % {$_ -replace '\\','/'}
          @"
          [target.x86_64-pc-windows-gnu]
          linker = "x86_64-w64-mingw32.static.posix-gcc.exe"

          [env]
          LIBRARY_PATH = "${pwd_slash}/libgcc_mock"
          "@ | Out-File -FilePath .cargo/config.toml -Encoding utf8 -Append ;

      # TODO: Remove this step when we drop the support for R < 4.2
      - name: Configure Windows for Rtools 40
        if: runner.os == 'Windows' && matrix.config.r == '4.1'
        run: |
          if ($env:RUST_TARGETS -like "*x86_64*") {
            echo "C:\rtools40\mingw64\bin" | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append ;
            echo "$(Rscript.exe -e 'cat(normalizePath(R.home()))')\bin\x64"  | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append ;
          }
          if ($env:RUST_TARGETS -like "*i686*") {
            echo "C:\rtools40\mingw32\bin" | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append ;
            echo "$(Rscript.exe -e 'cat(normalizePath(R.home()))')\bin\i386"  | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append ;
          }

      # Run tests again using different bindings
      - name: Run tests on precomputed bindings shipped with libR-sys
        run: |
          . ./ci-cargo.ps1
          foreach ($target in ($env:RUST_TARGETS).Split(",")) {
            if(($env:NO_TEST_TARGETS).Split(",").Contains($target)) {
              echo "::warning:: Skipping tests for target: $target"
            }
            else {            
              ci-cargo test -vv $(if ($target -ne 'default') {"--target=$target"} ) '--' --nocapture --test-threads=1 -ActionName "Running tests for target: $target"
            }
          }
        env: 
          NO_TEST_TARGETS: ${{ join(matrix.config.no-test-targets, ',') }}
  
  # Gather the generated bindings and push them to generated_bindings branch.
  # If we need to update the bindings, create a pull request from that branch.
  commit_generated_bindings:
    needs: test_with_bindgen
    runs-on: ubuntu-latest
    # Do not run this on pull request
    if: github.ref == 'refs/heads/master'
    steps:
    - uses: actions/checkout@v2

    - uses: actions/download-artifact@v2
        
    - name: Push the generated bindings
      run: |
        # 1) If there's already generated_bindings branch, checkout it.
        # 2) If generated_binding branch is not created, create it from the default branch.
        if git ls-remote --exit-code --heads origin generated_bindings 2>&1 >/dev/null; then
          git fetch origin --no-tags --prune --depth=1 generated_bindings
          git checkout generated_bindings
        else
          git switch -c generated_bindings
        fi

        # Update or add the bindings
        cp generated_binding-*/*.rs bindings/

        # Replace the default bindings
        cd bindings
        for x in linux-x86_64 macos-aarch64 macos-x86_64 windows-x86 windows-x86_64; do
          # Choose the newest version except for devel
          ln --force -s "$(ls -1 ./bindings-${x}-*.rs | grep -v devel | sort | tail -1)" ./bindings-${x}.rs
        done
        cd ..

        # detect changes (the code is derived from https://stackoverflow.com/a/3879077)
        git add bindings/
        git update-index --refresh
        if ! git diff-index --quiet HEAD -- bindings/; then
          git config --local user.name "${GITHUB_ACTOR}"
          git config --local user.email "${GITHUB_ACTOR}@users.noreply.github.com"
          git commit -m "Update bindings [skip ci]"
          git push origin generated_bindings
        else
          echo "No changes"
        fi
